body {
    display: flex;
    justify-content: flex-start; /* elementy od góry, nie nakładają się */
    align-items: center;         /* poziomo wyśrodkowane */
    padding-top: 50px;           /* odstęp od góry ekranu */
    margin: 0;
    background-color: #f9e3e3;
    font-family: 'Arial', sans-serif;
    flex-direction: column;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px; /* automatyczny odstęp między elementami */
    text-align: center;
}

h1 {
    font-size: 2.5em;
    color: #d32f2f;
}

.buttons {
    display: flex;
    gap: 10px; /* odstęp między przyciskami */
}

.yes-button, .no-button {
    font-size: 1.5em;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
}

.yes-button {
    background-color: #4caf50;
}

.no-button {
    background-color: #f44336;
}

.gif_container video {
    width: 200px;      /* mniejsze wideo */
    max-width: 90%;    /* dopasowuje się do mniejszych ekranów */
    height: auto;      /* zachowuje proporcje */
    border-radius: 15px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.2);
}
