body {
    display: flex;
    justify-content: flex-start;  /* od góry zamiast środka */
    align-items: center;           /* poziomo wyśrodkowane */
    padding-top: 50px;             /* trochę odstępu od góry */
    margin: 0;
    background-color: #f9e3e3;
    font-family: 'Arial', sans-serif;
    flex-direction: column;
}
  
  .container {
    text-align: center;
  }
  
  h1 {
    font-size: 2.5em;
    color: #d32f2f;
  }
  
  .buttons {
    margin-top: 20px;
  }
  
  .yes-button {
    font-size: 1.5em;
    padding: 10px 20px;
    margin-right: 10px;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .no-button {
    font-size: 1.5em;
    padding: 10px 20px;
    background-color: #f44336;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .gif_container video {
    width: 200px;      /* mniejsze wideo */
    max-width: 90%;    /* żeby nie wychodziło poza ekran */
    height: auto;
    margin-top: 40px;  /* większy odstęp od przycisków */
}
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;  /* automatyczny odstęp między h1, buttonami i wideo */
}
